*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: rgb(0, 128, 0);    
    padding-top: 1vh;
    padding-bottom: 2vh;
}
section{
    display: flex;
    margin-top: 3vh;
}
nav{
    width: 100%;
    padding: 0;
    margin: 0;
    font-weight: bold 
}
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 2vh;
}

nav li{
    display: inline;
    width: 100%;
    list-style: none;
    color: white;
    text-align: center;
    
}


    

.cardContainer{
    position: relative;
    min-height: 350px;
    /* donne de la profondeur à l'élément */
    perspective: 2000px;
    /* De quelle position la perspective se fait */
    perspective-origin: top;
}
.cardContainer:hover .card{
    transform: rotateY(180deg);

    /* changement d'état au survol */
}
.card{
    position: relative;
    height:100%;
    width: 25vw;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    /* transition lissée... */
    transition: transform 0.8s ease;
    transform-style:preserve-3d;
}
.cardFront, .cardBack{
    position: absolute;
    background-image: linear-gradient(45deg, green 33%, white 33% 66%, red 66%);
    height: 100%;
    width: 100%;
    padding: 30%;
    border-radius: 5px;
    backface-visibility: hidden;
}
.cardFront{
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.cardContainer img{
    height: 50%;
    width: 50%;
    object-fit: cover;
    margin: 5px;
}
.cardFront p{
    font-size: 25px;
    line-height: 35px;
}
.cardPrice{
    font-size: 45px;
}
.cardBack{
    background-color: rgb(43, 83, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}
.btn{
    display: inline-block;
    border-radius: 15px;
    padding: 19px;
    text-decoration: none;
    font-weight: normal;
    background-color: lightgoldenrodyellow;
    font-size: 14px;
    color: lightslategray;
    letter-spacing: 1px;
}
.btn:hover{
    background-color: rgb(22, 16, 16);
    color: violet;
    /* Plusieurs propriétés peuvent être visées en les séparant d'une virgule ou bien "all" qui les sélectionnera toutes */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}





footer{
    display: flex;
    align-items: center;
    justify-content: center;

    /* border:  */
}

footer p{
    margin: 5vh;
    font-size: 1.8em;
}
